* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    margin-top: 5rem;

    display: flex;
    align-content: space-between;
    background-color: #0aa1dd;
    padding: 0.5rem;
    border-radius: 4rem;
}

#navigation__link {
    color: white;
    text-decoration: none;
    border-radius: 3rem;
    padding: 1rem 2rem;
    transition: all 0.25s ease-in;
    font-size: 1.5rem;
}